/* Basic CSS Structure */

body {
    background-color: #0B6623;
    font-family: "Comic Sans MS";
    text-align: center;
    color: #71BC78;
}

div {
    background-color: #007848;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.specialboxes {
    background-color: #00A86B;
    color: black;
}

a {
    color: white;
    display: inline;
    padding: 5px;
    font-family: "Comic Sans MS";
}

.underline {
    text-decoration: underline;
}

#img {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

egwerg