

body {
    background-color: #f28999;
    font-family: "Comic Sans MS";
    text-align: center;
    color: white;
}

div {
    background-color: #f28999;
    border-style: solid;
    border-color: black;

}

.specialboxes {
    background-color: #00A86B;
    color: black;
}

a {
    color: white;
    display: inline;
    padding: 5px;
    font-family: "Comic Sans MS";
}

.underline {
    text-decoration: underline;
}

#img {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.sidenav {
  height:100%;
  width: 300px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #4F7942;
  overflow-x: hidden;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}


.sidenav a:hover {
   background-color: rgb(81, 180, 241);
  color: white;
}

.main {
  margin-left: 290px; 
  padding: 0px 10px;
}

#MatthewsPhotos {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 200px;
    height: 150px;
}
#ChrisPhotos {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 300px;
    height: 200px;
}
#ChrisPhotosGPT {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

#environmentalPhotos {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

#citations {
    color: white;
}

li a:hover {
  background-color: rgb(81, 180, 241);
  color: white;
}
.active {
  background-color: blue;
  color: white;
  
}

p {
  font-size: 25px;
}

.marginleft{margin-left: 190px}

footer{
 fontsize: 20 px; align: centre;
    padding: 6px 8px 6px 16px;
}

/* Nos' CSS Starts here */
#businesspics {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 300px;
    height: 200px;
}



#ai-education {
    width: 140px; 
    height: 50%;
    width: 35%;
   
}

#education-pics {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 300px;
    height: 200px; 
}

hr {
    height: 2px;
    border-width:0;
    color:rgb(81, 180, 241);;
    background-color:gray;
}

#UN {
    width: 300px;
    height: 180px;
}

#back{background-image: linear-gradient(to bottom, #FFB5C0, #E4ADC4)}

img{border-radius: 50%;}
